<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    
    <%- include('./partials/nav.ejs')  %>

    <div class="blogs content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus possimus unde nam perferendis quae hic debitis quod, maxime vel pariatur. Ducimus, maxime sit illo sapiente explicabo aliquam quas veritatis officiis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit cumque laudantium, amet alias explicabo atque tenetur accusantium earum qui, dolores doloremque, incidunt enim fugit possimus officia error sit facere animi.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quod incidunt vero modi et maiores neque corrupti velit eaque possimus, id sit, doloribus dolores nulla voluptatum optio, expedita suscipit eum.</p>
    </div>


    <%- include('./partials/footer.ejs')  %>
</body>
</html>